nav {
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 46px;
}

.group {
    position: absolute;
    display: flex;
    column-gap: 16px;
}

.align-center {
    width: 100%;
    justify-content: center;
}

.align-left {
    left: 20px;
}

.align-right {
    right: 20px;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
}

.underline-hover {
    position: relative;
}

.underline-hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #7da9d8;
    transition: width 0.25s ease-in-out;
  }

.underline-hover:hover::after {
    width: 100%;
}

.site-name {
    font-weight: bold;
    margin-left: 20px;
    color: transparent;
    font-size: 24px;
    line-height: 40px;
    background: linear-gradient(112deg, rgb(187 199 221), rgb(164 184 221));
    background-clip: text;
}

.new-recipe {
    background-color: #4a90e2;
    transition: 0.2s;
}

.new-recipe:hover {
    background-color: #357abd;
}