.recipes-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.recipe-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  color: black;
}

.page-title {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.recipe-metadata {
  display: flex;
  column-gap: 30px;
}

.author-name {
  font-size: 18px;
  font-weight: bold;
}

.date {
  font-size: 18px;
  color: #666;
}

.recipe-details {
  display: flex;
  column-gap: 20px;
}

.recipe-management {
  right: 20px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 16px;
}

.recipe-action {
  color: #333;
  font-weight: 500;
  cursor: pointer;
}

.recipe-description {
  margin-bottom: 15px;
  color: #666;
}

.summary {
  font-size: 20px;
}

.ingredient-list {
  list-style-type: disc;
  padding-left: 20px;
}

.ingredient-item {
  margin-bottom: 5px;
  color: #444;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.tag-container {
  display: flex;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tag {
  color: white;
}

.report-button {
  margin-top: 20px;
}